# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF or CRLF line endings on checkout.
*.sh text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf